/*@font-face {
    font-family: solaiman_lipi;
    src: url('SolaimanLipi.ttf');
}*/

/*@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100;200;300;400;500;600;700;800&display=swap');

body, p, h1, h2, h3, h4, h5, h6, li, a, li a {
    /*    font-family: solaiman_lipi, serif !important;*/
    /*  font-family: 'Hind Siliguri', sans-serif;*/
    /*font-family: 'Tiro Bangla', serif;*/
    font-family: 'Anek Bangla', sans-serif;

}

.hero-area {
    padding: 50px 0px;
    background: #f7f7f7;
}

.navbar-area {
    background: #fff;
    border-bottom: 1px solid #dfdddd;
}

.carousel {
    position: relative;
    padding: 25px 0px;
}

.card {
    border: 1px solid;
    border-color: #cecece !important;
}

a {
    color: #35363a;
    text-decoration: none;
}

.news {
    background-color: #f1f1f1;
    padding: 35px 0px;
}

.copyright-area {
    padding: 25px 0px;
}

h2 {
    font-size: 20px;
}

.nav-item {
    font-weight: bold;
}

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
}

#loading-image {
    z-index: 100;
}

.ts-contact {
    background-color: #f8f8f8;
    padding: 25px 0px;
}

.quote-item {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
    padding: 50px;
}

.quote-item .content {
    margin-bottom: 30px;
}

.quote-item form .form-group {
    margin-bottom: 15px;
}

.quote-item form .form-group .form-control {
    height: 70px;
    color: #1b0238;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    border: 1px solid #eee;
    background-color: transparent;
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 10px;
    padding: 0 0 0 15px;
    font-weight: 500;
}

.quote-item form .default-btn {
    border: none;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
    padding: 15px 30px;
    background-color: #FF3FA0;
    color: white;
    border-radius: 5px;
}

.default-btn {
    border: none;
    width: 100%;
    cursor: pointer;
    padding: 6px 6px;
    background-color: #FF3FA0;
    color: white;
    border-radius: 5px;
}

.badge {
    padding: 12px;
}

.who-we-are-content {
    padding: 50px;
}

.navbar-area {
    background: #fff;
    border-bottom: 1px solid #f1eded;
}

.reg-btn {
    padding: 20px;
}

.btn-danger {
    background-color: #D02053;
}

.bg-danger {
    background-color: #D02053 !important;
}

.primary-color {
    color: #D02053 !important;
    font-weight: bold;
}

span, a {
    color: #FF3FA0 !important;
    font-weight: bold;
}

.btn-vote-count {
    float: left !important;
}

.btn-vote {
    float: left !important;
}

.navbar-area img {
    width: 100px;

}

.active > .page-link, .page-link.active {
    z-index: 3;
    color: white !important;
    background-color: #D02053;
    border-color: #ef0911 !important;

}

a {

    color: #e8b513 !important;
}

.bg-light {
    padding: 0px;
}


.form-section {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #e8b513, #d52367);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 480px) {
    .navbar-area img {
        width: 80px;

    }
}
